/**
 * File: DefaultStyles.css
 * Purpose: This files holds the default css properties of all established style
 * 	Types in HTML, used by Anagame, specifically, the AnaWeb HTML-rendering Library
 * 
 * Note: Much of the code here is supplied by the https://www.w3schools.com/tags website
 */
 
 a:link, a:visited {
  color: (internal value);
  text-decoration: underline;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: (internal value);
}

abbr {
  display: inline;
}

address {
  display: block;
  font-style: italic;
}

area {
  display: none;
}

article, aside {
  display: block;
}

b , strong{
  font-weight: bold;
  display: inline; /* Unique to Anagame, serves as a signal to use the control held by the parent node */
}

bdo {
  unicode-bidi: bidi-override;
}

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

body {
  display: block;
  margin: 8px;
}

body:focus {
  outline: none;
}

canvas {
  height: 150px;
  width: 300px;
}

caption {
  display: table-caption;
  text-align: center;
}

cite {
  font-style: italic;
  display: inline
}

code, samp {
  font-family: monospace;
}

col {
  display: table-column;
}

colgroup {
  display: table-column-group;
}

datalist {
  display: none;
}

dd {
  display: block;
  margin-left: 40px;
}

del, s {
  text-decoration: line-through;
  display: inline;
}

details, section {
  display: block;
}

dfn , em, i, var{
  font-style: italic;
  display: inline;
}

div {
  display: block;
}

dl {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

dt {
  display: block;
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
}

figcaption {
  display: block;
}

figure {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

footer {
  display: block;
}

form {
  display: block;
  margin-top: 0em;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

head {
  display: none;
}

header {
  display: block;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

iframe:focus, link {
  outline: none;
}

iframe[seamless] {
  display: block;
}

img {
  display: inline-block;
  background-repeat: no-repeat;
}

ins {
  text-decoration: underline;
  display: inline;
}

kbd {
  font-family: monospace;
}

label {
  cursor: default;
}

legend {
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
}

li {
  display: list-item;
}

map {
  display: inline;
}

mark {
  background-color: yellow;
  color: black;
  display: inline;
}

nav {
  display: block;
}

object:focus, param {
  outline: none;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

output {
  display: inline;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
}

q {
  display: inline;
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

rt {
  line-height: normal;
}

small {
  font-size: smaller;
  display: inline;
}

span {
	display: inline
}

sub {
  vertical-align: sub;
  font-size: smaller;
  display: inline;
}

summary {
  display: block;
}

sup {
  vertical-align: super;
  font-size: smaller;
  display: inline;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

td {
  display: table-cell;
  vertical-align: inherit;
  padding: 1 1 1 1;
}

tfoot {
  display: table-footer-group;
  vertical-align: middle;
  border-color: inherit;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
  padding: 1 1 1 1;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

title {
  display: none;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

u {
  text-decoration: underline;
  display: inline;
}

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}